<configuration debug="true">

    <property name="LOG_HOME" value="/Users/milton/jvmxray-agent/logs" />
    <property name="MSG_FMT_SM" value="%d{YYYY.MM.dd 'at' HH:mm:ss z} | %logger{1} | %X | %5level | %msg%n" />
    <property name="MSG_FMT_LG" value="%d{YYYY.MM.dd 'at' HH:mm:ss.SSS z} | %logger | %X | %5level | %msg%n" />
    <property name="MSG_FMT_MACHINE" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', GMT},%thread,%X,%logger,%5level,%msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MSG_FMT_SM}</pattern>
        </encoder>
    </appender>

    <!-- Uncomment/configure for Cassandra testing -->
    <!-- todo: update for your cassndara logservice -->
    <!--
    <appender name="cassandra" class="org.jvmxray.appender.logback.JVMXRayCassandraAppender">
        <node>ip or host</node>
        <port>port number</port>
        <datacenter>datacenter1</datacenter>
        <user>dbuser</user>
        <password>dbpass</password>
    </appender>
    -->

    <!-- Send only JMVXRay events to the Cassandra appender.  Other events are rejected. -->
    <!-- Add additivity="false" to logger to block sending to console-->
    <!--
    <logger name="org.jvmxray.agent.driver.jvmxraysecuritymanager.events" level="WARN">
        <appender-ref ref="cassandra" />
    </logger>
    -->

    <root level="INFO">
        <appender-ref ref="console" />
    </root>

</configuration>
