<configuration scan="true" scanPeriod="30 seconds">

    <!-- TODO: UPDATE WITH YOUR DESIRED SETTINGS. -->
    <property name="SLASH" value="${sys:file.separator}" />
    <property name="ROOT" value="${SLASH == '/' ? '/' : 'C:\\'}" />
    <property name="LOG_HOME" value="${ROOT}Users${SLASH}milton${SLASH}jvmxray-agent${SLASH}logs" />
    <property name="MSG_PREAMBLE_SM" value="%d{HH:mm:ss z} %logger{1} %X %-5level - %msg%n" />
    <property name="MSG_PREAMBLE_LG" value="%d{HH:mm:ss.SSS z} %logger %X %-5level - %msg%n/" />
    <property name="MSG_PREAMBLE_MACHINE" value="%d{ISO8601} %logger %X %-5level - %msg%n" />

    <!-- CONSOLE DESTINATION -->
    <appender name="consoledest" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MSG_PREAMBLE_SM}</pattern>
        </encoder>
    </appender>
    <!-- ROLLINGFILE DESTINATION, USEFUL IN DEBUGGING WHEN YOU NEED MORE INFO THAN CONSOLE PROVIDES. -->
    <appender name="rollingfiledest" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}${SLASH}jvmxray-agent.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}${SLASH}bkup${SLASH}jvmxray-agent-%d{MM-dd-yyyy}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MSG_PREAMBLE_LG}</pattern>
        </encoder>
    </appender>
    <!-- JSON DESTINATION FOR MACHINE READABLE EVENT LOGS -->
    <appender name="jsondest" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}${SLASH}jvmxray-agent.json</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>${MSG_PREAMBLE_MACHINE}</timestampFormat>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <!-- NAMESPACE FOR EVENTS HANDLING. -->
    <logger name="org.jvmxray.agent.driver.jvmxraysecuritymanager.events" level="warn" additivity="false">
        <appender-ref ref="consoledest" />
        <appender-ref ref="rollingfiledest" />
        <appender-ref ref="jsondest" />
    </logger>
    <!-- SUPRESS NOISY PERMISSIONS FOR THE MOMENT. -->
    <logger name="org.jvmxray.agent.driver.jvmxraysecuritymanager.events.permission" additivity="false" level="OFF">
        <appender-ref ref="NO-OP" />
    </logger>
    <logger name="org.jvmxray.agent.driver.jvmxraysecuritymanager.events.permissionwithcontext" additivity="false" level="OFF">
        <appender-ref ref="NO-OP" />
    </logger>
    <!-- ROOT NAMESPACE FOR ANYTHING UNDEFINED.  NOTE: NO JSON LOGGING. -->
    <root level="info">
        <appender-ref ref="consoledest" />
        <appender-ref ref="rollingfiledest" />
    </root>

</configuration>
