<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- Console log -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<property name="LOG_ROOT" value="${user.home}/jvmxray-server/logs/" />
	<property name="LOG_FILE" value="jvmxray" />

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/${LOG_FILE}.txt</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>60GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Root logger set to error by default. Has effect of turning off logging 
		unless we enable logging in select features. -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROLLING" />
	</root>

</configuration>