<configuration debug="false">

    <property name="LOG_HOME" value="/Users/milton/jvmxray-agent/logs" />
    <property name="MSG_FMT_SM" value="%d{YYYY.MM.dd 'at' HH:mm:ss z} | %logger{1} | %X | %5level | %msg%n" />
    <property name="MSG_FMT_LG" value="%d{YYYY.MM.dd 'at' HH:mm:ss.SSS z} | %logger | %X | %5level | %msg%n" />
    <property name="MSG_FMT_MACHINE" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', GMT},%thread,%X,%logger,%5level,%msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MSG_FMT_SM}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
    </root>

</configuration>
